<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Codespud's Playground</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/ionicons.min.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-app="codeSpud">
      <div class="wrapper" ng-controller="homePageCtrl as vm">
      <header>
        <h1 class="header"><a href="http://www.codespud.ca"></a>CodeSpud</h1>
        <p class="header">A place to play</p>

        <ul>
          <li><a class="buttons github" href="https://github.com/chrisbautista" target="_blank">GitHub Profile</a></li>
          <li><a class="buttons" href="https://github.com/chrisbautista/chrisbautista.github.io/blob/master/notes/bookmarks.md" target="_blank">Bookmarks</a></li>
          <li><a class="buttons" href="http://www.codespud.ca" target="_blank">CodeSpud.Ca</a></li>
          <li><a class="buttons github" href="https://gist.github.com/chrisbautista  " target="_blank">My Gists</a></li>
      </ul>

      </header>
      <section>
        <h3><a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>Welcome to CodeSpud</h3>

            <div>
              <label>
              <i class="icon ion-search placeholder-icon"></i>
                <input type="text" class="search" ng-model="vm.query" placeholder="Search">
               <button class="icon ion-ios-refresh-outline btn" ng-click="vm.query=''"> Reset</button>
              </label>
            </div>
            <p class="tags">
              <span class="tag-btn" > <a ng-click="vm.query=''">-All-</a></span>
              <span class="tag-btn" ng-repeat="item in vm.service.tags">
                <a ng-click="vm.searchTag(item[0])">{{item[0]}}</a>
              </span>
            </p>

            <div ng-repeat="grp in vm.service.links" class="items-container">

              <div ng-show="(grp.list | filter:vm.query).length > 0" class="items">
                <h5>{{grp.name}}</h5>

                <ul class='items-list'>
                  <!-- {{grp.list}} -->
                    <li ng-repeat="item in (grp.list | filter:vm.query)" class="fade items-link">
                        <a href="{{item[0]}}" target="_blank">{{item[1]}}</a>
                    </li>

                </ul>
              </div>

            </div>


      </section>

    </div>


    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="app.js?v1"></script>
  </body>
</html>
