/* CSS Document */


#postcard{
	width:640px;
	height:469px;
	margin:0 auto;
	border: 1px solid #AAAAAA;
	font-family: MyCustomFont, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size:16pt;
	
}

#divleft{
	float:left;
	display:inline;
	width:290px;
	height:100% !important;
	margin-left: 20px;
	margin-right: auto;
	margin-top: 100px;
}

#divright{
	float:right;
	display:inline;
	width:250px;
	height:100% !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}



#datesent{
	  float: right;
	
	}

#salute{
	 float:left;
	  padding-left: 15px;
		width:160px;
	}
	
#ddate{
	
	float:right;
	width:90px;

}	
	
#dedicatory{
	padding-left: 25px;
	padding-top: 30px;
	height:111px;
	width:300px;
	text-align:left;
	margin-top:20px;
	margin-bottom:5px;
	
}

#dedicatory p{
	 margin-top:auto;
	 margin-bottom:auto;
	}

#close{
	
	padding-left: 170px;
	
}
	
	
	
#From{
	width: 200px;
	height: 80px;

	
	
	}	
	
#To{
	width: 200px;
	height: 150px;
	/*padding-left:30px;*/
	line-height: 20px !important;
		
	
	}	
	