@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong');


html {font-size: 1em;}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}


body {
    font-family: 'Rubik', serif;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Trirong', serif;
}

#tags-wrapper {
    max-width: 1000px;
    margin-bottom: 60px;
}
#tags-wrapper button {
    margin-left: 6px;
    margin-bottom: 5px;
}
.card__content, .card__links {
    padding: 10px 15px;
}

#filter-wrapper {position:relative; margin-top:40px;}
#filter-wrapper i {    
    position: absolute;
    top: 41px;
    right: -6px;
}

#filter-wrapper input {
    font-size: 2em;
    padding: 14px;
}

span.card__title {
    font-family: 'Trirong', serif;
    font-size: 1.2em;
    font-weight: bolder;
    /* background-color: #DDD; */
    display: block;
    padding: 5px 0px;
    font-size: 18px;
}

.card__description{
    margin: 0;
}

a.card__link {
    text-align: right;
    margin: 0 6px;
    text-decoration: underline;
}

p.card__tags {
    display: block;
    font-size: 0.7rem;
    margin: 32px 0 18px;
   
    width: 100%;
    text-align: center;
}

.card__links {
    text-align: right;
}

.card {
  min-width: 150px;
}

span.tag {
    font-style: italic;
    padding: 2px 2px 4px;
   
    margin-right: 4px;
     border-bottom: 1px solid #DDD;
}

footer {
    
}


.masonry { /* Masonry container */
    display: block;
   display: -webkit-flex;
   display: -moz-flex;
   display: flex;
   -webkit-align-items: left;
   -webkit-moz-items: left;
   align-items: left;
   -webkit-justify-content: left;
   -moz-justify-content: left;
   justify-content: left;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   -moz-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   -moz-align-content: flex-end;
   align-content: flex-end;
   
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    display: box;
    width: 25%;
     padding: 0 5px;
}

@media only screen and (max-width: 1000px)
{
    .item { /* Masonry container */
         width: 33.333%;
   
    }
        h1 {
       font-size: 4rem;
    }    

}
@media only screen and (max-width: 740px)
{
    .item { /* Masonry container */
         width: 50%;
   
    }
    h1 {
       font-size: 3rem;
    }    
    
}

@media only screen and (max-width: 430px)
{
    .item { /* Masonry container */
        width: 100%;
   
    }

    h1 {
       font-size: 2rem;
    }    
}

